<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GRUB</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">GRUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/aln730/GRUB">What is this?</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 text-center">
        <h1>Gobble Request Utility Backend</h1>
        <p class="lead">Choose what you want to do:</p>
        <div class="mt-4">
            <a href="/order_item" class="btn btn-lg btn-primary mx-2">Create Order</a>
            <a href="/add_item" class="btn btn-lg btn-success mx-2">Add Item</a>
        </div>
    </div>
</body>
</html>
